label {
  display: block;
  text-align: center;
  line-height: 200%;
  font-size: 2em;
  margin: 5%;
}

input {
  display: block;
  line-height: 200%;
  font-size: 2em;
  width: 60vw;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

input:focus {
  border-color: #9e9e9e;
}

.container {
  margin-top: 5%;
}

canvas {
  max-height: 45vh;
  max-width: 45vw;
  margin: 0 auto;
}
