label {
  display: block;
  text-align: center;
  line-height: 200%;
  font-size: 2em;
  width: fit-content;
  margin: 5%;
}

input {
  display: block;
  text-align: justify;
  line-height: 200%;
  font-size: 2em;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-top: 5%;
}
